* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.signin {
    height: 1080px;
    width: 1920px;
    padding: 200px 0 250px;
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background: url('https://images.pexels.com/photos/626986/pexels-photo-626986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.signin h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}
.signin__card {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #fefcf8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.3);
    color: #555;
}
.signin__card h2 {
    padding: 20px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.signin__card h2 strong {
    font-weight: 700;
    color:rgb(112, 62, 26);
}
.signin__card div {
    padding: 20px 22px;
}
.signin__card div input {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    
}

.member{
    width: 100px;
    margin-left: 95px;
    text-align: center;
    padding: 20px;
    color: #555;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none ;
    font-weight: 600;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.member:hover{
    text-decoration: underline;
}

.signin__card div p {
    font-size: 12px;
    color:rgb(112, 62, 26);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.is-hidden {
    display: none!important;
}